  <table>
    <thead>
    <tr>
      <th style="text-align:center">bank</th>
      <th style="text-align:center">$ aankoop</th>
      <th style="text-align:center">$ verkoop</th>
      <th style="text-align:center">datum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center">dsb</td>
        {{ range first 1 .Site.Data.dsb }}
        <td style="text-align:center">{{.usd_aankoop}}</td>
        <td style="text-align:center">{{.usd_verkoop}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align:center">fina</td>
        {{ range first 1 .Site.Data.fina }}
        <td style="text-align:center">{{.usd_aankoop}}</td>
        <td style="text-align:center">{{.usd_verkoop}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align:center">hakrin</td>
        {{ range first 1 .Site.Data.hakrin }}
        <td style="text-align:center">{{.usd_aankoop}}</td>
        <td style="text-align:center">{{.usd_verkoop}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
      <td style="text-align:center">republic</td>
      {{ range first 1 .Site.Data.republic }}
      <td style="text-align:center">{{.usd_aankoop}}</td>
      <td style="text-align:center">{{.usd_verkoop}}</td>
      <td style="text-align:center">{{.datum}}</td>
      {{ end }}
      </tr>
    </tbody>
  </table>

<br>
  <table>
    <thead>
    <tr>
      <th style="text-align:center">bank</th>
      <th style="text-align:center">€ aankoop</th>
      <th style="text-align:center">€ verkoop</th>
      <th style="text-align:center">datum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center">dsb</td>
        {{ range first 1 .Site.Data.dsb }}
        <td style="text-align:center">{{.eur_aankoop}}</td>
        <td style="text-align:center">{{.eur_verkoop}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align:center">fina</td>
        {{ range first 1 .Site.Data.fina }}
        <td style="text-align:center">{{.eur_aankoop}}</td>
        <td style="text-align:center">{{.eur_verkoop}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align:center">hakrin</td>
        {{ range first 1 .Site.Data.hakrin }}
        <td style="text-align:center">{{.eur_aankoop}}</td>
        <td style="text-align:center">{{.eur_verkoop}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
      <td style="text-align:center">republic</td>
      {{ range first 1 .Site.Data.republic }}
      <td style="text-align:center">{{.eur_aankoop}}</td>
      <td style="text-align:center">{{.eur_verkoop}}</td>
      <td style="text-align:center">{{.datum}}</td>
      {{ end }}
      </tr>
    </tbody>
  </table>
<br>
  <table>
    <thead>
    <tr>
      <th style="text-align:center">bank</th>
      <th style="text-align:center">eur → usd</th>
      <th style="text-align:center">usd → eur</th>
      <th style="text-align:center">datum</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align:center">dsb</td>
        {{ range first 1 .Site.Data.dsb }}
        <td style="text-align:center">{{.eur_naar_usd}}</td>
        <td style="text-align:center">{{.usd_naar_eur}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align:center">fina</td>
        {{ range first 1 .Site.Data.fina }}
        <td style="text-align:center">{{.eur_naar_usd}}</td>
        <td style="text-align:center">{{.usd_naar_eur}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
        <td style="text-align:center">hakrin</td>
        {{ range first 1 .Site.Data.hakrin }}
        <td style="text-align:center">{{.eur_naar_usd}}</td>
        <td style="text-align:center">{{.usd_naar_eur}}</td>
        <td style="text-align:center">{{.datum}}</td>
        {{ end }}
      </tr>
      <tr>
      <td style="text-align:center">republic</td>
      {{ range first 1 .Site.Data.republic }}
      <td style="text-align:center">{{.eur_naar_usd}}</td>
      <td style="text-align:center">{{.usd_naar_eur}}</td>
      <td style="text-align:center">{{.datum}}</td>
      {{ end }}
      </tr>
    </tbody>
  </table>
