{{ define "head" }}
<link rel="stylesheet" href='{{ "css/single.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<main id="main" class="index">
  <!-- page: "crypto" -->
  {{ if eq .Section "crypto"}}
    {{ partial "datecheck.html" .}}
    <article class="content center">
        {{ .Content }}

        <br>
        <h5>crypto kopen. contact via</h5>
        {{ partial "whatsapp.html" .}}
    </article>

  <!-- page: "rates" -->
  {{ else if eq .Title "rates"}}
    {{ partial "datelegend.html" .}}
    <article class="content center">
      {{ .Content }}
      
      <!-- <br>
      <h5>wisselen via whatsapp</h5>
      {{ partial "whatsapp.html" .}} -->
      
    </article>

  <!-- page: "demo" -->
  {{ else if eq .Title "demo"}}
    {{ partial "datelegend.html" .}}
    <article class="content center">
      {{ .Content }}
    </article>

  <!-- page: "cambio" -->
  {{ else if or
    (eq .Title "multi")
    (eq .Title "cme")
    (eq .Title "florin")
    (eq .Title "dallex")
  }}
  {{ partial "cambio.html" . }}

  <!-- pages for "koers" posts -->
  {{ else if eq .Section "koers"}}
    {{ partial "datecheck.html" .}}

    <!-- code for tags (keywords) -->
    {{ if ne .Params.tags nil }}
    <div>
      <b>Keywords: </b>
      {{ range .Params.tags }}
      <a class="link" href='{{ "tags" | absURL }}/{{ . | urlize }}'>#{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}

    <!-- code fore TOC -->
    {{ if cond (ne .Params.toc nil) .Params.toc .Site.Params.toc }}
    {{ if ne .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
    <details>
      <summary>
        <b>Table of Contents</b>
      </summary>
      <div class="toc">{{ .TableOfContents }}</div>
    </details>
    {{ end }}
    {{ end }}

    <article class="content center">
      {{ .Content }}
      <h6>
        <a href="/crypto">crypto kopen</a>
      </h6>
      {{ range first 1 (where .Site.RegularPages "Type" "==" "crypto") }}
        {{ .Content }}
      {{ end }}
    </article>

    <!-- navigation links to other "posts" -->
    <div class="paginator">
      {{ if .NextInSection }}
      <a class="link" href="{{ .NextInSection.Permalink }}"><</a>
      {{ else }}
      <a></a>
      {{ end }}
      {{ if .PrevInSection }}
      <a class="link" href="{{ .PrevInSection.Permalink }}">></a>
      {{ else }}
      <a></a>
      {{ end }}
    </div>

    <!-- comment section -->
    <div class="comment">
      <!-- disqus -->
      {{ template "_internal/disqus.html" . }}
      <!-- giscus -->
      {{ if .Site.Params.giscus.enable }}
        {{ .Site.Params.giscus.script | safeHTML }}
      {{ end }}
      <!-- utterances -->
      {{ if .Site.Params.utterances.enable }}
        {{ .Site.Params.utterances.script | safeHTML }}
      {{ end }}
    </div>

  <!-- all other pages should just show content -->
  {{ else }}
  <article class="content center">
    {{ .Content }}
  </article>
  {{ end }}
</main>
{{ end }}
