<h6>
  <a class="" href="https://goo.gl/maps/1Pit2n8jnku1uFR39" target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href="https://goo.gl/maps/1Pit2n8jnku1uFR39" target="_blank">
    saramaccastraat 2</a>
</h6>
<h6>
  <a class="noline" href="https://goo.gl/maps/yaXtgE5tp7Dxidj5A" target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href="https://goo.gl/maps/yaXtgE5tp7Dxidj5A" target="_blank">
    saramaccastraat 13</a>
</h6>
<h6>
  <a class="noline" href="https://goo.gl/maps/cPDpNtLW9WbPX2REA" target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href="https://goo.gl/maps/cPDpNtLW9WbPX2REA" target="_blank">
    domineestraat 12</a>
</h6>
<h6>
  <a class="noline" href="tel:+597426680">
    <i class="fa-solid fa-square-phone fa-lg"></i>
    426680&nbsp;
  </a>
</h6>

  <!-- <h5>
  <span class="fa-stack fa-2x" style="width: 100%;">
  <a href="https://www.facebook.com/Multi-Track-Exchange-1434868693474455/" target="_blank">
     <i class="fa-brands fa-facebook-square"></i>
  </a>
  <a href="https://www.instagram.com/multitracksu/" target="_blank">
  <i class="fa-brands fa-instagram-square"></i>
  </a>
  </span>
  </h5> -->
