{{  $location1 := "https://goo.gl/maps/vrJkU46LgHZ4WCSQ6"}}
{{  $location2 := "https://goo.gl/maps/9cQ9FnaSkjQEhpLq6"}}
{{  $location3 := "https://goo.gl/maps/"}}
{{  $location4 := "https://goo.gl/maps/"}}
{{  $phone1 := 452780}}
{{  $phone2 := 355800}}
{{  $whatsapp := 8277771}}
<h6>
  <a class="" href={{$location1}} target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href={{$location1}} target="_blank">
    tourtonnelaan 246</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="noline" href="tel:+597{{$phone1}}">
    <i class="fa-solid fa-square-phone fa-lg"></i>
    {{$phone1}}
  </a>
</h6>
<h6>
  <a class="" href={{$location2}} target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href={{$location2}} target="_blank">
    oost-westverbinding 206</a>
  <a class="noline" href="tel:+597{{$phone2}}">
    <i class="fa-solid fa-square-phone fa-lg"></i>
    {{$phone2}}
  </a>
</h6>
<h6>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="noline" href="https://wa.me/597{{$whatsapp}}">
    <i class="fa-brands fa-whatsapp-square fa-lg"></i>
    {{$whatsapp}}
  </a>
</h6>

  <!-- <h5>
  <span class="fa-stack fa-2x" style="width: 100%;">
  <a href="https://www.facebook.com/Multi-Track-Exchange-1434868693474455/" target="_blank">
     <i class="fa-brands fa-facebook-square"></i>
  </a>
  <a href="https://www.instagram.com/multitracksu/" target="_blank">
  <i class="fa-brands fa-instagram-square"></i>
  </a>
  </span>
  </h5> -->
