{{  $location1 := "https://goo.gl/maps/A6nbrupEiiHJVJdQ6"}}
{{  $location2 := "https://goo.gl/maps/hYt6gRXmUfYUhBHV8"}}
{{  $location3 := "https://goo.gl/maps/EiMHnadfHd7AmW5s5"}}
{{  $location4 := "https://goo.gl/maps/U9EzES1kLHXMGDdbA"}}
{{  $phone1 := 430013}}
{{  $phone2 := 494747}}
{{  $phone3 := 452062}}
{{  $phone4 := 498145}}
{{  $whatsapp := 8238888}}
<h6>
  <a class="" href={{$location1}} target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href={{$location1}} target="_blank">
    surinamestraat 72</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="noline" href="tel:+597{{$phone1}}">
    <i class="fa-solid fa-square-phone fa-lg"></i>
    {{$phone1}}
  </a>
</h6>
<h6>
  <a class="" href={{$location2}} target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href={{$location2}} target="_blank">
    koosstraat 37</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="noline" href="tel:+597{{$phone2}}">
    <i class="fa-solid fa-square-phone fa-lg"></i>
    {{$phone2}}
  </a>
</h6>
<h6>
  <a class="" href={{$location3}} target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href={{$location3}} target="_blank">
    jozefisraëlstraat 29</a> &nbsp;&nbsp;&nbsp;&nbsp;
  <a class="noline" href="tel:+597{{$phone2}}">
    <i class="fa-solid fa-square-phone fa-lg"></i>
    {{$phone3}}
  </a>
</h6>
<h6>
  <a class="" href={{$location4}} target="_blank">
    <i class="fa-solid fa-location-dot fa-lg"></i>
  </a>
  <a class="nocolour" href={{$location4}} target="_blank">
    commissaris weytinghweg 2</a>
  <a class="noline" href="tel:+597{{$phone2}}">
    <i class="fa-solid fa-square-phone fa-lg"></i>
    {{$phone4}}
  </a>
</h6>
<h6>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="noline" href="https://wa.me/597{{$whatsapp}}">
    <i class="fa-brands fa-whatsapp-square fa-lg"></i>
    {{$whatsapp}}
  </a>
</h6>

  <!-- <h5>
  <span class="fa-stack fa-2x" style="width: 100%;">
  <a href="https://www.facebook.com/Multi-Track-Exchange-1434868693474455/" target="_blank">
     <i class="fa-brands fa-facebook-square"></i>
  </a>
  <a href="https://www.instagram.com/multitracksu/" target="_blank">
  <i class="fa-brands fa-instagram-square"></i>
  </a>
  </span>
  </h5> -->
