<h5 class="content center">giraal aankoop/verkoop ook mogelijk.
</h5>
<h5 class="content center">
  <a href="tel:+597425070">425070</a>
</h5>
<h5 class="content center">
  <a href="tel:+597477244">477244</a>
</h5>
<h5 class="content center">
  <a href="https://wa.me/5978280950">8280950</a>
</h5>

<span class="fa-stack fa-2x" style="width: 100%;">
<a href="https://www.facebook.com/Multi-Track-Exchange-1434868693474455/" target="_blank">
   <i class="fa-brands fa-facebook-square"></i>
</a>
<a href="https://www.instagram.com/multitracksu/" target="_blank">
<i class="fa-brands fa-instagram-square"></i>
</a>
</span>

  {{ .Params.address }}
