<h5>giraal aankoop/verkoop ook mogelijk.</h5>
<h5>
  <a class="noline"href="tel:+597425070">
    <i class="fa-solid fa-square-phone fa-lg"></i> 425070
  </a>
</h5>
<h5>
  <a class="noline"href="tel:+597477244">
    <i class="fa-solid fa-square-phone fa-lg"> </i> 477244
  </a>
</h5>
<h5 class="content center">
  <a class="noline"href="https://wa.me/5978280950">
    <i class="fa-brands fa-whatsapp-square fa-lg"></i> 8280950
  </a>
</h5>
<h5>
<span class="fa-stack fa-2x" style="width: 100%;">
<a href="https://www.facebook.com/Multi-Track-Exchange-1434868693474455/" target="_blank">
   <i class="fa-brands fa-facebook-square"></i>
</a>
<a href="https://www.instagram.com/multitracksu/" target="_blank">
<i class="fa-brands fa-instagram-square"></i>
</a>
</span>
</h5>
  {{ .Params.address }}
