<h5>giraal aankoop/verkoop ook mogelijk.</h5>
          <h6>
            <a class="" href="https://goo.gl/maps/KXmoWx96CwTGy51WA" target="_blank">
              <i class="fa-solid fa-location-dot fa-lg"></i>
            </a>
            <a class="nocolour" href="https://goo.gl/maps/KXmoWx96CwTGy51WA" target="_blank">
              sommelsdijkstraat 1
            </a>
            <a class="noline" href="tel:+597425070">
              <i class="fa-solid fa-square-phone fa-lg"></i>
              425070&nbsp;
            </a>
          </h6>
          <h6>
            <a class="noline" href="https://goo.gl/maps/oDWN8pZfyTpfYShg6" target="_blank">
              <i class="fa-solid fa-location-dot fa-lg"></i>
            </a>
            <a class="nocolour" href="https://goo.gl/maps/oDWN8pZfyTpfYShg6" target="_blank">
              wilhelminastraat 35
            </a>
            <a class="noline" href="tel:+597477244">
              <i class="fa-solid fa-square-phone fa-lg"></i>
              477244&nbsp;
            </a>
          </h6>
          <h6>
            <a class="noline" href="https://goo.gl/maps/3wQD6CtfFkrTgXsQ7" target="_blank">
              <i class="fa-solid fa-location-dot fa-lg"></i>
            </a>
            <a class="nocolour" href="https://goo.gl/maps/3wQD6CtfFkrTgXsQ7" target="_blank">
              steenbakkerijstraat
            </a>
            <a class="noline" href="https://wa.me/5978280950">
              <i class="fa-brands fa-whatsapp-square fa-lg"></i>
                8280950
            </a>
            <a class="nocolour noline" href="https://goo.gl/maps/3wQD6CtfFkrTgXsQ7" target="_blank">
              <br>(times mall unit 1)
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </h6>
          <h6>
            <a class="noline" href="https://goo.gl/maps/SNqeEgnyextHZTNEA" target="_blank">
              <i class="fa-solid fa-location-dot fa-lg"></i>
            </a>
            <a class="nocolour" href="https://goo.gl/maps/SNqeEgnyextHZTNEA" target="_blank">
              meerzorg 30</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="nocolour noline" href="https://goo.gl/maps/SNqeEgnyextHZTNEA" target="_blank">
            <br>(bridge mall)
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </h6>

  <!-- <h5>
  <span class="fa-stack fa-2x" style="width: 100%;">
  <a href="https://www.facebook.com/Multi-Track-Exchange-1434868693474455/" target="_blank">
     <i class="fa-brands fa-facebook-square"></i>
  </a>
  <a href="https://www.instagram.com/multitracksu/" target="_blank">
  <i class="fa-brands fa-instagram-square"></i>
  </a>
  </span>
  </h5> -->
