{{ if eq (.Get 0) "dsb"}}

  dsb_
  {{ range first 1 .Site.Data.dsb }}
   {{ partial "rates-loop.html" .}}
  {{ end }}

{{ else if eq (.Get 0) "fina"}}

  fina
  {{ range first 1 .Site.Data.fina }}
    {{ partial "rates-loop.html" .}}
  {{ end }}

{{ else if eq (.Get 0) "hakrin"}}

  hakr
  {{ range first 1 .Site.Data.hakrin }}
    {{ partial "rates-loop.html" .}}
  {{ end }}

{{ else if eq (.Get 0) "republic"}}

  repu
  {{ range first 1 .Site.Data.republic }}
   {{ partial "rates-loop.html" .}}
  {{ end }}

{{ else }}
  no data base found.
{{end}}
